{% extends 'base/base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% block title %}
    Blog | Login
{% endblock %}
{% block body %}
    <div class="container col-3">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-grid gap-2">
                <a href="{% url 'account:forgot_password' %}">Forgot password ?</a>
                <input type="submit" value="Login" class="btn btn-primary">
            </div>
        </form>
    </div>
    <footer class="footer text-center m2">
        <p>if you don't have an account? <a href="{% url 'account:register' %}">Register</a></p>
    </footer>
{% endblock %}